<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andumgaming.g370">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <!-- Login -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">



        <!-- Initialize music -->
        <service
            android:name=".views.MusicService"
            android:enabled="true" />

        <activity
            android:name=".views.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".views.SlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".views.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName = ".views.FullscreenActivity">
        </activity>

        <activity
            android:name=".views.TutorialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".views.FullscreenActivity">
        </activity>

        <activity android:name=".views.GameTest"></activity>



        <activity
            android:name=".views.asynctask.LoginAsyncTask"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>


</manifest>
