<% include ../partials/header.ejs %>

<h1>Login</h1>
<% if(typeof msg !== "undefined") { %>
    <%= msg %>
<% } %>
<form action="/authenticate">
    <label for="email">Email:</label><input type="text" id="email" name="email" /><br />
    <label for="password">Password:</label><input type="password" id="password" name="password" /><br />
    <button>Go!</button>
</form>

<% include ../partials/footer.ejs %>